section{
    background-color: #666666;
    width: 800px;
    height: 800px;
}

#ems div{
    background-color: #111111;
    width: 50%;
    height: 50%;
}

#ems h1{
    font-size: 40px;
    border:1px solid black;
    line-height:200%;
}

#ems h2{
    font-size: 5em;
    margin-left: 1em;
}

#ems h3{
    font-size: 1.5em;
}

#ems p{
    font-size: 1em;
}

#ems article{
    font-size: 20px;
}

button{
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
}

ul{
    font-size: 1.5em;
}

